.similarRecipesContainer{
    
    h2{
        margin: 20px;
    }
    .similarRecipesRow{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 10px;
        align-items: center;
        row-gap: 5px;
        a{
            border: 1px solid crimson;
            display: flex;
            flex-direction: column;
            padding: 10px;
            max-width: 300px;
            min-height: 250px;
            img{
                width: 100%;
            }
        }
    }
}