
.similarReceipesTitle{
    margin-bottom: 50px;
    margin-left: 30px;
}
.similarReceipesRow{
    display: grid;
	row-gap: 15px;
	column-gap: 15px;
	margin-right: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    .similarReceipesCol{
        color: rgb(54, 48, 48);
	  position: relative;
      border: 1px solid rgb(201, 185, 185);
      

      img{
        width: 100%;
    margin-bottom: 15px;
    padding: 10px 0;
      }

      p{
        margin-left: 10px;
       
      }
    }
}

@media only screen and (max-width: 768px) {
  .similarReceipesRow{
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 20px;
  }

}
@media only screen and (max-width: 700px) {
  .similarReceipesRow{
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }

}
@media only screen and (max-width: 600px) {
  .similarReceipesRow{
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }

}


