*{
    margin: 0;
    padding: 0;
}
header{
    display: grid;
    grid-template-columns: 1fr;
    .searchBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            color: white;
        }
        align-self: center;
        width: 60vw;
    }
}
main{
    margin: 5px;
}